# Порядок выполнения запроса SELECT и план запроса в MS SQL Server

1. Create sequence (1,1) - Temp.Sequence and table with clustered index on Id and index on color - Temp.Skittles

In [ ]:
drop sequence if exists Temp.IdSequence
create sequence Temp.IdSequence
as bigint start with 1 increment by 1;


if OBJECT_ID('Temp.Skittles', 'U') is not NULL
drop table Temp.Skittles

create table Temp.Skittles (
    Id int not null,
    Color varchar(25),
    Taste varchar(25)
)

create clustered index IX_Skittles_Id on Temp.Skittles(Id)
create index IX_Skittles_Color on Temp.Skittles(Color)

2. Insert temp values into Temp.Skittles

In [ ]:
insert into Temp.Skittles values 
    (next value for Temp.IdSequence, 'red', 'cherry'),
    (next value for Temp.IdSequence, 'blue', 'strange'),
    (next value for Temp.IdSequence, 'yellow', 'lemon'),
    (next value for Temp.IdSequence, 'green', 'apple'),
    (next value for Temp.IdSequence, 'orange', 'orange')