In [ ]:
USE AdventureWorks2017

SELECT YEAR(OrderDate) AS OrderDate, SUM(SubTotal) AS Income 
FROM Sales.SalesOrderHeader AS SH
GROUP BY YEAR(SH.OrderDate)

In [ ]:
USE AdventureWorks2017

SELECT
	YEAR(OrderDate) AS OrderYear,
	MONTH(OrderDate) AS OrderMonth,
	SUM(SubTotal) AS Income
FROM Sales.SalesOrderHeader
GROUP BY YEAR(OrderDate), MONTH(OrderDate)
ORDER BY OrderYear, OrderMonth;

In [ ]:
USE AdventureWorks2017;

SELECT
	YEAR(OrderDate) AS OrderYear,
	NULL AS OrderMonth, --Dummy Column
	SUM(SubTotal) AS Incomes
FROM Sales.SalesOrderHeader
GROUP BY YEAR(OrderDate)
UNION ALL
SELECT
	YEAR(OrderDate) AS OrderYear,
	MONTH(OrderDate) AS OrderMonth,
	SUM(SubTotal) AS Incomes
FROM Sales.SalesOrderHeader
GROUP BY YEAR(OrderDate), MONTH(OrderDate)
ORDER BY OrderYear, OrderMonth;
GO

In [ ]:
USE AdventureWorks2017

SELECT
    YEAR(OrderDate),
    MONTH(OrderDate),
    SUM(SubTotal)
FROM Sales.SalesOrderHeader
GROUP BY GROUPING SETS 
(
    YEAR(OrderDate),
    (YEAR(OrderDate), MONTH(OrderDate)),
    ()
)

In [ ]:
PRINT 'Yo';
GO 100